{
  "log": {
    "_recordingName": "invalidConfig",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "9c837e7a806381b55fe150695c9963d5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://j1devcreativice.jfrog.io/artifactory/api/security/users"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.Users+json",
            "size": 303,
            "text": "[ {\n  \"name\" : \"ravelo.leiko@gmail.com\",\n  \"uri\" : \"https://j1devcreativice.jfrog.io/artifactory/api/security/users/ravelo.leiko@gmail.com\",\n  \"realm\" : \"oauth\"\n}, {\n  \"name\" : \"anonymous\",\n  \"uri\" : \"https://j1devcreativice.jfrog.io/artifactory/api/security/users/anonymous\",\n  \"realm\" : \"internal\"\n} ]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.Users+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.42.5 74205900"
            },
            {
              "name": "x-artifactory-id",
              "value": "431d48887a36005a41025690c70917f754774007"
            },
            {
              "name": "x-artifactory-node-id",
              "value": "a0wvtw6nu5t3n-artifactory-primary-0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1001,
      },
      {
        "_id": "49ab16eacbb5a20c5e95dd3773b7d9d0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://j1devcreativice.jfrog.io/artifactory/api/security/users/ravelo.leiko@gmail.com"
        },
        "response": {
          "content": {
            "mimeType": "application/vnd.org.jfrog.artifactory.security.User+json",
            "size": 474,
            "text": "{\n  \"name\" : \"ravelo.leiko@gmail.com\",\n  \"email\" : \"ravelo.leiko@gmail.com\",\n  \"admin\" : true,\n  \"policyViewer\" : false,\n  \"policyManager\" : false,\n  \"watchManager\" : false,\n  \"reportsManager\" : false,\n  \"profileUpdatable\" : true,\n  \"internalPasswordDisabled\" : false,\n  \"groups\" : [ \"readers\" ],\n  \"lastLoggedInMillis\" : 0,\n  \"realm\" : \"oauth\",\n  \"offlineMode\" : false,\n  \"disableUIAccess\" : false,\n  \"mfaStatus\" : \"NONE\",\n  \"status\" : \"ENABLED\",\n  \"shouldInvite\" : false\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.org.jfrog.artifactory.security.User+json"
            },
            {
              "name": "x-jfrog-version",
              "value": "Artifactory/7.42.5 74205900"
            },
            {
              "name": "x-artifactory-id",
              "value": "431d48887a36005a41025690c70917f754774007"
            },
            {
              "name": "x-artif[...]
